*{
    padding: 0;
    margin: 0;
}
.fun{
    display: flex;
    gap: 10px;
}
.deg{
    padding: 20px;
}
.typee{
    padding: 20px;
}
.a1{
    padding: 6px;
    margin-top: 4px;
}
.a3{
   padding-bottom: 25px;
   padding-top: 10px;
    width: 80px;
    height: 15px;
   margin-top: 35px;
   background-color: lightblue;
   color: white;
   border-radius: 10px;
   font-size: medium;
}
.a2{
    padding: 8px;
    margin-top: 2px;
}
.res{
    margin-left: 20px;
}
body{
   height:100vh ;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back{
    background-color: aliceblue;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}